html {
    overflow-x: hidden;
    width: 100%;
}


body {
    background: black;
    color: white;
    font-family: 'Kanit', sans-serif;
    width: 100%;
}

#quiz-tite {
    font-family: 'Kanit', sans-serif;
    font-style: ital;
}

.instructions-container {
    height: 100vh;
}

#starfleet-badge {
    height: 130px;
    overflow: hidden;
    width: 100px;
}

/* LCARS PANELS */

/* Panel styling taken from lcars style css theme https://github.com/frohoff/ctfd-trektheme.  */


.container-lcars-top { 
    border-color: #97A;
    border-style: solid;
    border-width: 10px 50px 0 50px;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    padding: 15px 30px;
    margin-top: 10px;
    
}

.container-lcars-left {
    border-style: solid;
    border-color: #FC6;
    border-width: 7px 0px 7px 40px;
    border-radius: 60px 0px 0px 60px / 30px !important;
    margin: 50px 0 50px 0;
    padding-bottom: 25px;
    padding-top: 25px !important;
   
}

.container-lcars-right {
    border-style: solid;
    border-color: #FC6;
    border-width: 7px 40px 7px 0px;
    border-radius: 00px 60px 60px 0px / 30px !important;
    margin: 50px 0 50px 0;
    padding-bottom: 25px;
    padding-top: 25px !important;

}

.container-lcars-bottom {
    padding: 15px 30px;
    border-style: solid;
    border-color: #E95;
    border-width: 0px 50px 10px 50px;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px; 
    margin-bottom: 10px;
    
}

/* LCARS BUTTONS */

.answer-btn {
    background: orange;
    border-radius: 50px 50px 50px 50px;
    box-shadow: none;
    white-space: normal;
    height: 50px;
    width: 60%;
    margin: 4px;
    color: #000;
    
    

}

.answer-btn:hover {
    opacity: 0.6;
}

.lcars-btn-orange {
    display: block;
    background: orange;
    border-radius: 50px 50px 50px 50px;
    box-shadow: none;
    height: 50px;
    width: 100px;
    margin: 0 auto;
    margin-bottom: 5px;
    color: #000;
  }
/* This code fixes issue with button text appearing blue on iphone safari. Code found online work lost after codeanwhere crashed. Now cant find the link again! */
  .black-text el.x-text .tel span a { 
    color: #000000 !important;
}
  
  .lcars-btn-orange:hover {
    opacity: 0.6;
  }

  .lcars-btn-red {
    display: block;
    background: red;
    border-radius: 50px 50px 50px 50px;
    box-shadow: none;
    height: 50px;
    width: 90px;
    margin: 0 auto;
    margin-bottom: 5px;
    color: #000;
  }

  .lcars-btn-red:hover {
    opacity: 0.6;
  }

  a {
    text-decoration: none;
    color: #000;
  }

  .lcars-btn-red a {
    text-decoration: none;
    color: #000;
  }

  .lcars-btn-orange a {
    text-decoration: none;
    color: #000;
  }

  .hidden {
    display: none;
  }

  #question-img {
    
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;

  }

  .array-img {
    width: 250px;
  }

  .user-answer {

  }

  .turn-green {
    background: #00ff00 !important;
  }

  .turn-red {
    background: #ff1414 !important;
  }
