@font-face {
    font-family: "lcars";
    src: url("/assets/lcars.woff") format("woff");
  }

html {
    width: 100%;
    overflow-x: hidden;
}


body {
    /* font-family: "lcars"; */
    background: black;
    color: white;
    width: 100%;
}

.answer-btn {
    background: orange;
    border-radius: 50px 50px 50px 50px;
    box-shadow: none;
    white-space: normal;
    height: 50px;
    width: 50%;
    margin: 4px;
    /* font-size: 120%; */
    font-weight: lighter;

}

.answer-btn:hover {
    opacity: 0.6;
}

.instructions-container {
    height: 100vh;
}

#starfleet-badge {
    height: 130px;
    width: 100px;
    overflow: hidden;
}

/* LCARS PANELS */

/* /* Panel styling taken from lcars style css theme https://github.com/frohoff/ctfd-trektheme.  */


.container-lcars-top { 
    padding: 15px 30px;
    margin-top: 10px;
    border-style: solid;
    border-color: #97A;
    border-width: 10px 50px 0px 50px;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    /* position: relative; */
}

.container-lcars-left {
    border-style: solid;
    border-color: #FC6;
    border-width: 7px 0px 7px 40px;
    border-radius: 60px 0px 0px 60px / 30px !important;
    margin: 50px 0 50px 0;
    padding-bottom: 25px;
    padding-top: 25px !important;
    /* position: relative; */
}

.container-lcars-right {
    border-style: solid;
    border-color: #FC6;
    border-width: 7px 40px 7px 0px;
    border-radius: 00px 60px 60px 0px / 30px !important;
    margin: 50px 0 50px 0;
    padding-bottom: 25px;
    padding-top: 25px !important;
    /* position: relative; */
}

.container-lcars-bottom {
    padding: 15px 30px;
    border-style: solid;
    border-color: #E95;
    border-width: 0px 50px 10px 50px;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px; 
    /* position: relative; */
}

/* LCARS BUTTONS */

.lcars-btn-orange {
    display: block;
    background: orange;
    border-radius: 50px 50px 50px 50px;
    box-shadow: none;
    height: 50px;
    width: 80px;
    margin: 0 auto;
    /* font-weight: lighter; */
    /* white-space: normal; */
  }
  
  .lcars-btn-orange:hover {
    opacity: 0.6;
  }

  a {
    text-decoration: none;
    color: #000;
  }

  .hidden {
    display: none;
  }

  #question-img {
    height: 150px;
    position: relative;
    /* display: flex; */
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;

  }

  .user-answer {

  }

  .turn-green {
    background: #00ff00 !important;
  }

  .turn-red {
    background: #ff1414 !important;
  }
